<!-- finish.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VoQuiz</title>
    <link rel="icon" href="{{ url_for('images', path='logo.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='end.css') }}">
</head>
<body>
    <div class="parent">
        <div class="container d-flex flex-column align-items-center">
            <h1 class="mb-5 logo-text">VoQuiz</h1>
            <p class="text-muted mb-4">Congratulations! You've completed the quiz.</p>
            <div class="mt-5">
                <a href="/api" class="btn-start">Back to homepage</a>
            </div>
        </div>
    </div>
</body>
</html>